<a href="https://colab.research.google.com/github/kangdayoon/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0,10,3):
    print(a[i])

1
4
7
10

range 4 = 0, 1, 2, 3 순으로 들어간 거랑 같음.

range(0,4) - 0부터 (4-1)까지 만들으라는 뜻. 
(1,4)는 1부터 3까지 만들으라는 뜻. 

(0,4,2) - 0부터 3까지 2칸을 뛰라는 뜻.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

제어문(syntax) 2개 - Loop(for), Condition(if)

if에서 else는 그렇지 않으면.

In [ ]:
a = 1
if a == 0:
    print(a)
else:
    print(a+1)

2

In [ ]:
a = 1
if a == 0:
    print(a)

첫 번째 '=' 오른쪽에 있는 내용을 왼쪽에 있는 변수에다 넣는다.

두 번째 '==' 같다라는 뜻.

else라면 해당되는 사항이 없기 때문에 실행이 안 됨.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

i = 1,2 / j = 3,4 /
i*j = 3, 4, 6, 8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
for i in range(2, 4):
    for j in range(2, 3):
        if j >=5:
            print(i*j)

In [ ]:
for

range(1,3) = [1,2]

range(3,5) = [3,4]

if j=4 (j가 4보다 크거나 같은 경우)

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

b = [ i for i in a if i >=2 ]
-> list인 이유

: for i in [ 1, 2, 3, 4] a if i.=2

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']